#cajaBusqueda {
  background: #ffc1e3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0; 
  
  #miLogo {
    height:28px;
    width:auto;
    margin-left:8.34%;
    display:flex;
    align-items:center;
    
    img{
      height:28px;
      width:auto;
    }
  }

  .buscador {
    display:flex;
    align-items:center;
    margin-left: 2%;
    width: 71.06%;
    
    input {
      height: 28px;
      width:100%;
      font-size: 18px;
      color: #999999;
      border: none;
      border-radius: 5px 0px 0px 5px; 
    }
    
    button {
      width:4.36%;
      height:28px;
      background-image:url('/images/lupa.png.png');
      background-repeat:no-repeat;
      background-position:center;
      background-size:18px auto;
      background-color:#EEEEEE;
      border:none;
      border-radius:0px 5px 5px 0px
    }
  }
}

@media all and (max-width:980px){
  #cajaBusqueda {
    flex-direction:column;
    align-content:center;
    justify-content:center;
    align-items:center;
    
    #miLogo {
      margin-left:0;
    }
    
    .buscador {
      justify-content:center;
      margin-left:0;
      
      input {
        font-size:12px;
      }
    
      button {
        width:20%;
      }
    }
  }
}